<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC6tgbEan0aZjut1AKGMTIkHJmtXHbz6sE</string>
	<key>GCM_SENDER_ID</key>
	<string>772360637491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>artem1.BibermobilSaunaArtem</string>
	<key>PROJECT_ID</key>
	<string>bibermobilsyntax</string>
	<key>STORAGE_BUCKET</key>
	<string>bibermobilsyntax.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:772360637491:ios:ab07f067a2c4ddbd85e746</string>
</dict>
</plist>